.flexView {
	display: flex !important;
	flex-direction: column !important;
}

#tableContainer {
	flex: 1 1 auto;
}

#results {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
}

#results:empty {
	display: none;
}